<main class='main'>
  <h1 class='main--heading'>
    Forgot your password?
  </h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'main--form', method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div>
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <%= f.submit "Send me reset password instructions", class: 'btn-primary' %>
  <% end %>

  <div class='text-sm'>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: 'link-primary' %>
  </div>
</main>
