<!DOCTYPE html>
<html>
  <head>
    <title>RailsAuth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-900 text-white">
    <%= render 'shared/navbar' %>
    <%= render 'shared/alerts' %>

    <%= yield %>
  </body>
</html>
